body{
	background: url(../images/bg.jpg)
	no-repeat center center fixed;
	background-size: cover;
	font-family: sans-serif;
}

header{
	width: 100%;
	margin: auto;
	overflow: hidden;
	background-color: #000;
}
.head{
	float:left;
	color: #fff;
	font-family: cursive;
}
nav{
	float: right;

}
li{
	display: inline;
	padding: 1rem;
}
li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;

}
.activate{
	color: gold;
	border-bottom: 2px solid gold;
	font-weight: 1.2rem;
	font-weight: bold;
}